/* style overall font */

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #656565;
    font-size: 9pt;
}

td{
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #986f38;
}

span {
    font-style: italic;
}

::selection {
    color: white;
    background-color: #1b1b1b;;
}

/* style header font */
h1 {
    font-size: large;
    color: #1b1b1b;
}

#header-text {
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

h2 {
    text-transform: uppercase;
    background-color: rgb(204,204,204);
    color: #1b1b1b;
    font-size: 12pt;
    padding: 30px 10px;
    margin: 0px 0px;
}

li {
    color: white;
}

ul {
    padding-left: 20px;
}

/* style page */

html {
    background-color: black;
}

body {
    width: 996px;
    height: 100%;
    margin: auto;
}

header {
    background-color: rgb(241,241,241);
    text-align: center;
    padding: 80px 20px 0px 0px;
}

.info {
    background-color: #f9f9f9;
    padding: 20px;
}

.info-bottom {
    background-color: rgb(255,255,255);
    padding: 20px;
    border-top: 1px solid rgb(204,204,204);
}

/* style and place password requirements */

#pwd-info {
    width: 100px;
    border-radius: 3px;
    background-color: black;
    padding: 3px 3px 5px 0px;
    position: absolute;
    top: 440px;
    left: 630px;
    transition: opacity 0.3s;
}

/* resize logo and position */
#logo {
    width: 200px;
    height: auto;
}

#logo-container {
    width: 100%;
    height: auto;
    padding: 20px 0px;
    background-color: black;
    position: fixed;
}

/* style table */

td input {
    width: 180px;
    height: 40px;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 3px;
}

#cel1 {
    width: 180px;
}

#cel2 {
    width: 400px;
}

.long {
    width: 400px;
}

:focus {
    border: 2px solid #1b1b1b;
    box-shadow: none;
    color: #1b1b1b;
}

/* style bottom */

.bottom {
    background-color: rgb(27,27,27);
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

/* footer */

footer {
    display: flex;
    justify-content: space-between;
    
}

footer p {
    color: white;
}

.links {
    text-align: end;
    text-transform: uppercase;
}

/* postion and style submit button */

#submit {
    background-color: rgb(81,133,38);
    box-shadow: none;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    padding: 10px 60px;
}

/* transitions */

#pwd-info {
    visibility: hidden;
}

#pwd:focus ~ #pwd-info {
    visibility: visible;
}

/* error styling */
.required.red {
    color: red;
}

Input.red {
    Border: 1px solid red;
    Color: red;
    }