/* === DEFAULT === */
:root {
    --dark-accent: #7B2934;
    --dark-color: #B87278;
    --main-accent: #A53442;
    --main-color: #D7A0A1; 
    --light-accent: #AEA7A5;
    --light-color: #fcfcfb; 
    --button-radius: 50px;
    --border-radius: 5px;
  }

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,700&family=Architects+Daughter&family=Dancing+Script&family=Fuzzy+Bubbles:wght@400;700&display=swap');

/* 
font-family: 'Anonymous Pro', monospace;
font-family: 'Architects Daughter', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Fuzzy Bubbles', cursive;
*/

html {
    font-family: 'Anonymous Pro', monospace;  
    background-color: var(--light-color);
    color: var(--main-accent);
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    overflow-x: hidden;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

h2 {
    font-size: 2em;
    font-weight: 700;
    border: solid 3px var(--main-accent);
    width: fit-content;
    padding: 10px 15px;
}

p{
    line-height: 1.5;
}
::selection {
    background-color: var(--main-color);
}

a {
    text-decoration: none;
}

a:active, a:visited, a:link {
    color: var(--dark-accent);
}

a:hover {
    color: var(--main-color);
}

.button {
    width: 100px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px var(--light-color);
    padding: 20px 20px;
    text-align: center;
    text-transform: capitalize;
    background-color: var(--dark-color);
}

button {
    width: 100px;
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 20px 0 0 0;
    text-align: center;
    text-transform: capitalize;
    background-color: var(--dark-color);
    color: var(--light-color);
    font-family: Anonymous Pro, cursive;
    cursor: pointer;
}

button:hover {
    background-color: var(--main-color);
    color: var(--main-accent)
}

#back-button {
    margin: 50px 0 10px 30px;
    padding: 20px 50px;
    text-align: center;
    width: fit-content;
    font-weight: bold;
}

#project-button  {
    padding: 20px 30px;
    text-align: center;
    width: fit-content;
    font-weight: bold;
    margin-bottom: 30px;
}

#project-page {
    background-color: var(--dark-accent);
}


/* === NAVIGATION === */

.navbar {
    /* text-transform: uppercase;
    font-weight: bold;
    background-color: var(--main-color); */
    position: absolute; 
    /* top: 0;
    width: 100vw;
    z-index: 2; */
} 

/* === DEFAULT SECTION === */
#section-about, #section-skills {
    padding: 80px 100px;
    box-sizing: border-box;
    scroll-snap-align: start;
}

#section-about {
    background-color: var(--main-color);
    color: var(--light-color);
}

#section-project {
    padding: 50px 100px 0 100px;
    box-sizing: border-box;
    scroll-snap-align: start;
    background-color: var(--dark-accent);
}

/* === HERO SECTION === */

#section-hero {
    width: 100vw;
    box-sizing: border-box;
    scroll-snap-align: start;
    overflow-x: hidden;
    background-color: var(--main-color);
} 

#pro-pic {
    width: 100vw;
    height: auto;
}

.bubble {
    display: inline-block;
    position: relative;
    border-radius: 50px;
    border: 3px solid black;
    background: white;
}

.bubble::before {
    content: '';
    position: absolute;
    bottom: -50px;
    height: 50px;
    width: 90px;
}

.tail {
    color: black;
}
.tail:before {
    border-radius: 0 0 100%;     
    box-shadow: 
    -2px -2px 0 0 #000 inset,
    -23px 0 0 0 #fff inset,
    -25px -2px 0 0 #000 inset;
    left: 0;
}

.hero-bubble { 
    position: absolute;
    top: 15%;
    left: 35%;
    padding: 1% 8%;
    color: black;
    font-family: 'Architects Daughter', cursive;
    font-size: 1.4em;
}

.bold {
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: 900;
}

/* === ABOUT SECTION === */
.text-highlight {
    font-size: 1.9rem;
}

.about-containter {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.about-text {
    width: 62%;
    color: var(--light-color)
}

.about-p {
    font-size: 1em;
}


.name {
    color: var(--main-accent);
    font-family: 'Dancing Script', cursive;
    font-size: 1.4em;
} 

.manga-pic {
    width: 550px;
    height: auto;
}

#pro-manga-pic {
    border-radius: 50%;
    width: 80%;
    display: block;
    margin: auto;
}
/* === PROJECTS === */

.project {
    display: block;
    background-color: var(--light-color);
    margin: 30px 0px;
    padding: 30px 30px;
    border-radius: var(--border-radius);
}

.p-project {
    color: var(--light-color);
}

.p-text{
    color: var(--light-color);
}

.h3-title {
    margin-top: 0;
    text-transform: uppercase;
}

.icon {
    font-size: 35px;
}

.project-img {
    /* width: 100%; */
    border: 1px solid var(--main-color);
    border-radius: var(--border-radius);
    display: block;
    margin: 0px auto 30px auto ;
    width: 40%;
}

.project-img:hover {
    scale: 2;
    border: none;
}

/* === CONTACT === */

#section-contact {
    height: 90vh;
    padding: 80px 100px;
    box-sizing: border-box;
    background-color: var(--main-color);
    color: var(--light-color);
    scroll-snap-align: start;
}

#link-reverse, #email-reverse {
    text-decoration: underline;
    color: var(--light-color)
}

#link-reverse:active, #email-reverse:active {
    color: var(--dark-accent);
}

#link-reverse:hover, #email-reverse:hover, .socials .icon:hover {
    color: var(--dark-accent);
}

.socials .icon {
    color: var(--light-color);
}

.h2-reverse {
    border-color: var(--light-color);
    color: var(--light-color);
}

/* === FOOTER === */
footer {
    background-color: var(--dark-accent);
    color: var(--light-color);
    text-align: center;
    font-size: smaller;
    padding: 30px 0;
    height: 10vh;
}

/* === HAMBURGER === */

#menuToggle
{
  display: block;
  position: relative;
  top: 35px;
  left: 35px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: var(--dark-accent);
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}

/* Transform all the span of hamburger into a crossmark */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: var(--dark-accent);
}

/* But hides the middle one */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/* the last one should go the other direction */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/* Make this absolute positioned at the top left of the screen */
#menu
{
  position: absolute;
  width: 100vw;
  margin: -100px 0 0 -50px;
  padding: 30px 50px;
  padding-top: 125px;
  
  background: var(--light-color);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/* And let's slide it in from the left */
#menuToggle input:checked ~ ul
{ transform: none; }


/* === SKILLS=== */

#skill-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-container {
    background-color: var(--dark-accent);
    color: var(--light-color);
    padding: 10px 30px;
    margin: 20px 10px;
    border-radius: var(--border-radius);
    width: 300px;
}

/* === MEDIA QUERIES === */

@media screen and (max-width: 800px) {
    .hero-bubble { 
        top: 12%;
        left: 40%;
        padding: 1% 5%;
        color: black;
        font-family: 'Architects Daughter', cursive;
        font-size: 0.9em;
    }

    .bubble::before {
        content: '';
        position: absolute;
        bottom: -25px;
        height: 25px;
        width: 80px;
    }

    #section-about, #section-skills, #section-project, #section-contact {
        padding: 20px 30px;
        height: fit-content;
    }

    .about-containter {
        display: block;
        padding: 10px 0px;
    }
    
    .about-p {
        font-size: 1em;
    }

    .text-highlight {
        font-size: 1.5em;
    }

    .about-text {
        width: 100%;
        text-align: center;
    }

    .manga-pic {
        width: 100%;
        height: auto;
    }

    #pro-manga-pic {
        width: 300px;
        margin: 30px auto;
    }

  }