html{
    background-color: crimson;
    text-align: center;
}

h1 {
    color: whitesmoke;
    margin: 50px 0;
}
div {
    width: 300px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 2px 2px 2px lightcoral;
    padding: 20px 40px;
    background-color: whitesmoke;
    margin: auto;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: crimson;
    font-weight: bold;
}

footer {
    font-size: smaller;
    margin: 50px 0;
    color: white;
}
