html, body {
    padding: 0;
    margin: 0;
}

html {
    width: 100vw;
    height: 100vh;
    /* background-color: #F57C00; */
    color: #757575;
    text-align: center;
}

body {
    opacity: 0.9;
    background-image: url(./background.jpg);
}

input:focus{ 
    outline: none; 
}

footer {
    font-size: smaller;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: whitesmoke;
    text-transform: uppercase;
}

h1 {
    text-align: center;
    margin: 20px;
    color: whitesmoke;
}

input {
    width: 60%;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 50px;
    border: 2px solid #FFE0B2;
    padding-left: 14px;
    box-shadow: 1px 1px 2px whitesmoke;
}

.today {
    max-width: 820px;
    margin: 14px auto;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    background-color: #FFE0B2;
    box-shadow: 1px 1px 2px whitesmoke;
}

.not-today {
    max-width: 880px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px auto;
}

.subDiv {
    width: 180px;
    margin: 10px auto;
    text-align: center;
    border-radius: 20px;
    background-color: #FFE0B2;
    box-shadow: 1px 1px 2px whitesmoke;
    /* text-shadow: 1px 1px whitesmoke; */
}

.todaySub {
    margin: 10px auto;
    width: 300px;
    display: flex;
    justify-content: space-around;    
    text-align: center;

}

#day {
    margin-top: 20px;
}

#desc {
    margin-bottom: 20px;
}